@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-area img{
    height: 40px;
    width: 40px;
}

.user-profile {
    height: 50px;
    width: 50px;
    display: flex;
    margin-left: 10px;
}
.btn-circle{
    background: transparent;
    color: #fff;
    border: 1px solid #ffffff;
    font-size: 24px;
}
.btn-circle:hover{
    background: transparent;
    color: #FF8F1F;
    border-color: #FF8F1F;
    font-size: 24px;
}